body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
.main-section-of-the-page {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
}
.about-me-profession {
  font: 14px;
  font-weight: 700;
  color: black;
}
.about-me-section {
}
.my-project-section {
}
.my-work-expirience {
}
.my-education-section {
}

/* Sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #f5f7fa;
  margin-bottom: 10px;
}
/* Contacts for sidebar section */
.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #f5f7fa;
  margin-right: 7px;
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 50%;
}

/* Tech & Soft skill`s list */
.skills-list {
  padding: 0 0 0 17px;
}
.skill-item {
  color: #fb6d3a;
}
.skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #f5f7fa;
}
